Task 1: Append and Extend
1.	Create a list of fruits: ["apple", "banana", "cherry"].
2.	Add "orange" to the end of the list using append.
3.	Extend the list by adding another list: ["grape", "kiwi"].

In [3]:
fruits=["apple", "banana", "cherry"]
fruits.append("orange")
fruits

['apple', 'banana', 'cherry', 'orange']

In [5]:
fruits1=["grape", "kiwi"]
fruits.extend(fruits1)
fruits

['apple', 'banana', 'cherry', 'orange', 'grape', 'kiwi']

Task 2: Insert 

Create a list of numbers: [10, 20, 40, 50]. 

Insert the number 30 at index 2.

In [6]:
lst=[10, 20, 40, 50]
lst.insert(2, 30)
lst

[10, 20, 30, 40, 50]

Task 3: Remove 

Create a list of colors: ["red", "green", "blue", "yellow", "blue"]. 

Remove the first occurrence of "blue" from the list.

In [7]:
colors=["red", "green", "blue", "yellow", "blue"]
colors.remove("blue")
colors

['red', 'green', 'yellow', 'blue']

Task 4: Index 

Create a list of animals: ["cat", "dog", "bird", "fish"]. 

Find the index of "bird" in the list.

In [10]:
animals=["cat", "dog", "bird", "fish"]
animals.index("bird")

2

Task 5: Count 

Create a list of numbers: c. 

Count how many times 1 appears in the list.

In [11]:
numbers=[1, 2, 3, 4, 1, 2, 1]
numbers.count(1)

3

Task 6: Reverse 

Create a list of integers: [5, 10, 15, 20, 25]. 

Reverse the order of elements in the list.

In [13]:
integers=[5, 10, 15, 20, 25]
integers.reverse()
integers

[25, 20, 15, 10, 5]

Task 7: Sort 

Create a list of numbers: [7, 3, 9, 1, 5]. 

Sort the list in ascending order. 

Sort the same list in descending order.

In [16]:
lst_number=[7, 3, 9, 1, 5]
lst_number.sort()
lst_number.sort(reverse=True)
lst_number

[9, 7, 5, 3, 1]

Task 8: Copy 

Create a list of cities: ["New York", "Paris", "Tokyo", "Sydney"]. 

Make a copy of the list using the copy method. 

Verify that changes to the original list do not affect the copied list.

In [17]:
cities=["New York", "Paris", "Tokyo", "Sydney"]
cities1=cities.copy()
cities1.append("tashkent")
print(cities)
print(cities1)

['New York', 'Paris', 'Tokyo', 'Sydney']
['New York', 'Paris', 'Tokyo', 'Sydney', 'tashkent']

Task 9: Clear 

Create a list of random numbers: [8, 4, 6, 2, 9]. 

Use the clear method to empty the list.

In [18]:
r_numbers=[8, 4, 6, 2, 9]
r_numbers.clear()
r_numbers

[]

Task 10: Pop 

Create a list of months: ["January", "February", "March", "April", "May"]. 

Remove and return the last element of the list using pop. 

Remove and return the second element of the list using pop(1).

In [22]:
ls_months=["January", "February", "March", "April", "May"]
ls_months.pop(4)
ls_months.pop() #pop ga hech qanday index berilmasa, oxirgi elementni o'chiradi
ls_months

['January', 'February', 'March']

Level 2 

Task 1: Create and Modify Lists 

Create a list of 5 random integers between 1 and 100. 

Add a new number to the list at the end. 

Replace the second element in the list with a new number. 

Remove the third element from the list.

In [ ]:
import random   #Takrorlanmaydigan random 
random_n = random.sample(range(1, 100), 5)
print(random_n)

In [38]:
random_n.append(5)
print(random_n)

[98, 45, 65, 62, 15, 5]

In [39]:
random_n.remove(65)  #or random_n.pop(3)
print(random_n)

[98, 45, 62, 15, 5]

Task 2: Find the Maximum and Minimum 

Write python code to Find the Maximum and Minimum. 

Test your code with the list [15, 2, 78, 34, 7, 90].

In [42]:
print(min(15, 2, 78, 34, 7, 90))
print(max(15, 2, 78, 34, 7, 90))

2
90

In [44]:
min_max=[15, 2, 78, 34, 7, 90]
eng_katta=print(max(min_max))
eng_kichik=print(min(min_max))

90
2

Task 3: Sum and Average 

Write python code to calculates the sum and average of all elements in a list. 

Test your code with the list [10, 20, 30, 40, 50].

In [59]:
sum_list=[10, 20, 30, 40, 50]
umumiy=print(sum(sum_list))
averag= print(sum(sum_list)/len(sum_list))

150
30.0

Task 4: Sorting and Reversing 

Create a list of strings: ["banana", "apple", "cherry", "date"]. 

Sort the list in ascending order. 

Reverse the order of the sorted list.

In [58]:
my_list=["banana", "apple", "cherry", "date"]
sorted_my_list=print(sorted(my_list))
sorted_list_dsc = print(sorted(my_list, reverse=True))

['apple', 'banana', 'cherry', 'date']
['date', 'cherry', 'banana', 'apple']