Level 1  

Task 1: Create a Tuple 

Create a tuple containing 5 different types of elements (e.g., integer, string, float, boolean, list).

In [1]:
tpl=(5, "salom", 3.14, True, [5, "me", True])
tpl

(5, 'salom', 3.14, True, [5, 'me', True])

Task 2: Access Elements 

Create a tuple: ("apple", "banana", "cherry", "date"). 

Access the second element. 

Access the last element using negative indexing.

In [4]:
fruits=("apple", "banana", "cherry", "date")
print(fruits[2])
print(fruits[-1])

cherry
date

Task 3: Slicing 

Create a tuple: (10, 20, 30, 40, 50, 60). 

Extract a slice containing the middle three elements. 

Extract every other element from the tuple.

In [15]:
numbers=(10, 20, 30, 40, 50, 60)
print(numbers[1: 4])
print(numbers[0:1]+ numbers[4:])

(20, 30, 40)
(10, 50, 60)

Task 4: Membership Check 

Create a tuple: ("red", "green", "blue", "yellow"). 

Check if "green" is in the tuple. 

Check if "purple" is not in the tuple.

In [4]:
colours =("red", "green", "blue", "yellow") 
print("green" in colours)     
print("purple" not in colours)

True
True

Task 5: Length 

Create a tuple: (1, 2, 3, 4, 5, 6). 

Use the len function to find the length of the tuple.

In [5]:
length_tpl=(1, 2, 3, 4, 5, 6)
len(length_tpl)

6

Task 6: Tuple Concatenation 

Create two tuples: ("a", "b", "c") and (1, 2, 3). 

Concatenate them into a new tuple.

In [7]:
letters=("a", "b", "c")
numbers=(1, 2, 3)
letters_numbers=letters + numbers
print(letters_numbers)

('a', 'b', 'c', 1, 2, 3)

Task 7: Count 

Create a tuple: .(1, 2, 2, 3, 4, 4, 4, 5) 

Count how many times the number 4 appears in the tuple.

In [8]:
count_tpl=(1, 2, 2, 3, 4, 4, 4, 5)
count_tpl.count(4)

3

Task 8: Index 

Create a tuple: ("cat", "dog", "bird", "fish"). 

Find the index of "dog" in the tuple.

In [9]:
index_tpl=("cat", "dog", "bird", "fish")
index_tpl.index("dog")

1

Task 9: Tuple Unpacking 

Create a tuple: ("Python", 3.10, "Programming"). 

Unpack the tuple into three variables and print each variable.

In [13]:
unpack_tpl=("Python", 3.10,  "Programming")
a, *b, c=unpack_tpl
print(a)
print(*b)
print(c)

Python
3.1
Programming

Task 10: Immutable Nature 

Create a tuple: (10, 20, 30). 

Try to change the first element to 15 and observe the result.

In [16]:
my_tpl=(10, 20, 30)
#tuple can not be modified
#but we can change it to list and then it can be modified in list type
my_tpl=list(my_tpl)
my_tpl[0]=15
print(my_tpl)

[15, 20, 30]

In [17]:
#in the end we can change it to tuple again
my_tpl=tuple(my_tpl)
print(my_tpl)

(15, 20, 30)