In [4]:
#1. Create a new database with a table named Roster that has three fields: Name, Species, and Age. 
# The Name and Species columns should be text fields, and the Age column should be an integer field.

import sqlite3

conn=sqlite3.connect("database.db")

cur=conn.cursor()
query="create table IF NOT EXISTS roster (Name char(20), Species char(20), Age int )"

cur.execute(query)
conn.commit()
conn.close()

In [7]:
#2. Populate your new table with the following values:


conn=sqlite3.connect("database.db")

cur=conn.cursor()
query='''insert into roster (Name, Species, Age) values
    ('Benjamin Sisko', 'Human', 40),
    ('Jadzia Dax', 'Trill', 300),
    ('Kira Nerys', 'Bajoran', 29);'''

cur.execute(query)
conn.commit()
conn.close()

In [10]:
#3. Update the Name of Jadzia Dax to be Ezri Dax

conn=sqlite3.connect('database.db')
cur=conn.cursor()

query="update roster set Name='Ezri Dax' where Name='Jadzia Dax'"

cur.execute(query)
conn.commit()
conn.close()

In [ ]:
#4. Display the Name and Age of everyone in the table classified as Bajoran.

conn=sqlite3.connect("database.db")
cur=conn.cursor()

query="select Name, Age from roster where Species='Bajoran'"

cur.execute(query)
results=cur.fetchall()

conn.commit()
conn.close()

print(results)

[('Kira Nerys', 29)]